a{
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
    margin: 0;
}

::-webkit-scrollbar {
    width: 1em;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    color: rgba(255,255,255,.3);
    
}



::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #ff8d4d, #00ffe7);
    border-radius: 10px;

  }

.home{
    background-color: black;
    color: white;
    height: 100vh;
    padding-top: 45vh;
    background: linear-gradient(304deg, #1e86ff,#ff8d4d, #ff5cea);
    background-size: 600% 600%;
    animation: background-gradient 30s ease infinite;

}

h1{
    text-shadow: 7px 7px 7px black;

}

.sub-text{
   
  animation: fade-in 3s;
}

.projects{
    
}


.project-description{
    font-size: 1.2rem;
}

.card-img{
    border-style: solid;
    border-width: 5px;
    transition: .5s;
    color: rgba(255,255,255, 0);
}

.card-img:hover{
    border-style: solid;
    border-width: 1px;
    color: rgba(200,200,200, 0);
    transition: .5s;
}

.project-text{
    color: black;
}

.skill-icons{
    font-size: 2rem;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: color-change 10s linear infinite;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    
}

.contact{
    padding-top: 1rem;
    background-color: #333;
    
}

.contact-icons{
    animation: color-change 20s infinite;
}



@keyframes background-gradient {
    0%{background-position:0% 17%}
    50%{background-position:100% 84%}
    100%{background-position:0% 17%}
}

/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  

  @keyframes color-change {
      0%, 100%{
          filter: hue-rotate(0deg);
      }

      50%{
          filter: hue-rotate(360deg);
      }
    
  }

  @keyframes backgoundcolor-change {
    0% {background-color: #fff;}
    25% {background-color: #4CE0B3;}
    50% {background-color: #F4E409;} 
    75% {background-color: #5762D5};
    100% {background-color: #fff;}
  
}

  @keyframes fade-in{
      from {color: transparent;}
      to {color: white;}
  }
  